@import './base.css';
@import './components/avatar.css';

body {
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
}

h2 {
  align-self: center;
}
