---
passwordInputs:
  - label: Password
buttonTexts:
  - text: Sign in
  - text: Sign out
stylesheet:
  - ../styles/authorization.css
---
{{!< base}}
<h2>
  Authorization
</h2>
<form>
  {{> loginInput}}
  {{> passwordInputs}}
  {{> signButtons}}
</form>