---
passwordInputs:
  - label: Password
    name: password
buttonTexts:
  - text: Sign in
  - text: Sign out
stylesheet:
  - ../styles/formPages.css
---
{{!< base}}
<h2>
  Authorization
</h2>
<form>
  {{> loginInput}}
  {{> passwordInputs}}
  {{> formButtons}}
</form>