---
inputs:
  - label: Email
    name: email
    type: email
  - label: Login
    name: login
    type: text
  - name: first_name
    label: First name
    type: text
  - name: second_name
    label: Second name
    type: text
  - name: display_name
    label: Display name
    type: text
  - label: Phone
    name: phone
    type: tel
buttons:
  - text: Save
  - text: Cancel
stylesheet:
  - ../styles/profile.css
---
{{!< base}}
<form>
  {{> avatar}}
  {{#each inputs}}
    {{> input}}
  {{/each}}
  {{#each buttons}}
    {{> button}}
  {{/each}}
</form>