---
oldPassword: oldPassword
newPassword: newPassword
passwordInputs:
  - label: Old password
    name: oldPassword
  - label: New password
    name: newPassword
  - label: Repeat new password
    name: newPasswordRepeated
stylesheet:
  - ../styles/formPages.css
---
{{!< base}}
<form>
  {{> avatar}}
  {{> passwordInputs}}
</form>