---
inputs:
  - label: Old password
    name: oldPassword
    type: password
  - label: New password
    name: newPassword
    type: password
  - label: Repeat new password
    name: newPasswordRepeated
    type: password
buttons:
  - text: Save
  - text: Cancel
stylesheet:
  - ../styles/profile.css
---
{{!< base}}
<form>
  {{> avatar}}
  {{#each inputs}}
    {{> input}}
  {{/each}}
  {{#each buttons}}
    {{> button}}
  {{/each}}
</form>