---
passwordInputs:
  - label: Old password
    name: oldPassword
  - label: New password
    name: newPassword
  - label: Repeat new password
    name: newPasswordRepeated
buttonTexts:
  - text: Save
  - text: Cancel
stylesheet:
  - ../styles/profile.css
---
{{!< base}}
<form>
  {{> avatar}}
  {{> passwordInputs}}
  {{> formButtons}}
</form>