---
navLinks:
  - href: ./chats.hbs
    text: Chats
  - href: ./profile.hbs
    text: Profile
  - href: ./authorization.hbs
    text: Authorization
  - href: ./registration.hbs
    text: Registration
  - href: ./5xx.hbs
    text: 5xx
  - href: ./404.hbs
    text: 404
stylesheet:
  - ../styles/base.css
---
{{!< base}}
<nav>
  <ul class="menu">
    {{#each navLinks}}
      {{> navLink}}
    {{/each}}
  </ul>
</nav>
