{{!< base}}

<main>
  <a href="./5xx.hbs">5xx</a>
  <a href="./404.hbs">404</a>
  <a href="./authorization.hbs">Authorization</a>
  <a href="./chats.hbs">Chats</a>
  <a href="./profile.hbs">Profile</a>
  <a href="./registration.hbs">Registration</a>
  <a href="./about.hbs">About</a>
  {{> button}}
</main>