---
nameInputs:
  - name: first_name
    label: First name
  - name: second_name
    label: Second name
  - name: display_name
    label: Display name
buttonTexts:
  - text: Sign out
stylesheet:
  - ../styles/profile.css
---
{{!< base}}
<form>
  {{> avatar}}
  <h2>
    User
  </h2>
  {{> emailInput}}
  {{> loginInput}}
  {{> nameInputs}}
  {{> phoneInput}}
  <a href="./changeData.hbs">
    Change data
  </a>
  <a href="./changePassword.hbs">
    Change password
  </a>
  {{> formButtons}}
</form>