---
passwordInputs:
  - label: Password
  - label: Password (one more time)
nameInputs:
  - name: first_name
    label: First name
  - name: second_name
    label: Second name
buttonTexts:
  - text: Sign in
  - text: Sign out
stylesheet:
  - ../styles/registration.css
---
{{!< base}}
<h2>
  Registration
</h2>
<form>
  {{> emailInput}}
  {{> loginInput}}
  {{> nameInputs}}
  {{> phoneInput}}
  {{> passwordInputs}}
  {{> signButtons}}
</form>