<div class="chat-peview">
  <hr />
  <div>
    {{> avatar}}
    <div>
      <h3 class="chat-title">
        chat.title
      </h3>
      <time class="date">
        date
      </time>
    </div>
    <div>
      <span>
        You:
      </span>
      <p class="chat-peview-text">
        chat.previewText
      </p>
      <p class="chat-message-counter">
        chat.messageCounter
      </p>
    </div>
  </div>
</div>