<div class="message">
  <p class="message-text"></p>
  <time class="message-text-date">
    11:00
  </time>
  <div class="message-media">
    Message media
  </div>
</div>
<div class="message my">
  <div class="message-text"></div>
  <time class="message-text-date">
    11:11
  </time>
  <div class="message-media my">
    My message media
  </div>
  <div class="message-status">
    ✓
  </div>
</div>