{{#each passwordInputs}}
  <label class="form__label" for="password">
    {{label}}
  </label>
  <input
    class="form__input"
    type="password"
    name={{name}}
    minlength="8"
    maxlength="20"
    required
  />
{{/each}}